#  Copyright (c) 2017 Minoru Osuka
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# 		http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Eclipse
.classpath
.project

# Gogland
.idea/

# Blast
*.log
bin
data
vendor/*
!/vendor/manifest

### Vendor ###
vendor
vendor/
vendor/**


### App ###
dist/*/gox-*
dist/*/gox_*
bin/gox*

### Big Files and Archives ###
*.gz
*.tar.gz
*.pickle
*.txt
*.csv

## keep splitted archives (usually under 60Mb)
!*.gz.*
!*.zip.*
!*.bz2.*
!*.tar.gz.*

### Config files ###
# ignore production/local config files
*.yaml
*.json
!glide.*

### Docker ###
*-*.env
.env

!Dockerfile.*
!dockerfile*
!docker-compose*
!crane.*

# remove test or legacy config files/variables
*.*-test*
*.*-test*
*.*-backup*
*.*-bck*
*.*-old*

# skip from ignore any example config files
!*.*-sample*
!*.*-example*

blast.exe
blast

blastctl
blastctl.exe

blastrest
blastrest.exe

!cmd/blast*

!shared/conf.d/*.yaml
!shared/conf.d/*.json
!shared/data/example/*

